@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-image: linear-gradient(to top, #725936, #634e2f, #544329, #463822, #392e1c, #312818, #292215, #221c11, #1d180e, #19140a, #140f05, #0d0901);
}

.footer {
  background-image: linear-gradient(to bottom, #725936, #634e2f, #544329, #463822, #392e1c, #312818, #292215, #221c11, #1d180e, #19140a, #140f05, #0d0901)
}

.speech {
  /* (A1) FONT & COLORS */
  font-size: 1rem;
  color: black;
  background: white;

  /* (A2) DIMENSIONS */
  padding: 8px;
  border-radius: 8px;
  max-width: 600px;
}

.speech::after {
  display: block;
  width: 0;
  content: "";
  border: 8px solid transparent;
}

.speech.message::after {
  border-left-color: white;
  border-right: 0;
}

.speech {
  position: relative;
  /* margin: px; */
}

.speech::after {
  position: absolute;
}

.speech.message::after {
  right: -8px;
  top: calc(50% - 8px);
}

.hide {
  display: none;
}

.show:hover+.hide {
  display: block;
}

/* .side2 {
  background-color: blue;
} */